<html>
<h2>Add A New Squirrel Sighting Information</h2>
<h1 style="font-family:Arial;"><p style="text-align:right;">Squirrel Sightings</p ></h1>
< a href=" "><p style="text-align:center;">< img id="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTfRdFnPREF3Gc-Iw_50XtR5M88RJMvgxa1q--u3RvdQrwIOxy&s"></ a>
<form method="POST">
          {% csrf_token %}
          {{form.as_p}}
        <br>
        <input type="submit" value="Add">
</form>
<nav>
<ul>
    <li> <p> Map Link</p> </li>
    <a href="/map/">Squirrel Tracker</a>
    <br>
    <li> <p> Sightings Link</p> </li>
    <a href="/sightings/">Sightings List</a>
    <br>
</ul>
</nav>

</html>
