<html>
  <body>
    <h1><center> Squirrel Sightings</center></h1>
    <nav>
      <h2><center>Link</center></h2>
      <a href="/map/"><p style="text-align:center;">Map Link</a>
      <br>
      <a href="/sightings/add/"><p style="text-align:center;">Add Sightings Link</a>
      <br>
      <a href="/sightings/stats/"><p style="text-align:center;">Statistics Link</a>
    </nav>
    <br>

  <style>
    table {font-family: arial, sans-serif; border-collapse: collapse; width: 100%;}
    td, th {border: 1px solid #dddddd;text-align: left;padding: 8px;}
    tr:nth-child(even) {background-color: #def1fa;}
    th {background-color: #9bddff ;color: white;}
   
  </style>
  
  <h3>Edit Squirrel Info by Click the Link</h3>
  <table>
    <thead>
      <tr>
        {% for field in fields %}  
          <th>{{field}}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for squirrel in squirrels %}
        <tr>
	  <td><a href="{{squirrel.Unique_Squirrel_ID}}">{{squirrel.Unique_Squirrel_ID}}</a></td>
          <td>{{squirrel.Date}}</td>
          <td>{{squirrel.X}}</td>
	  <td>{{squirrel.Y}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>  

</body>
</html>
