<html>
<head>
<title> General Information About Sighitng Statistics  </title>
</head>
    <body>
        <h2>Total_Sightings: The total number of squirrels: {{Total_Sightings}}</h2>
	<h2>Age_Adult: The total number of squirrels that are Adult: {{Age_Adult}}</h2>
        <h2>Age_Juvenile: The total number of squirrels that are Juvenile: {{Age_Juvenile}}</h2>
        <h2>Running: The total number of squirrels that are running: {{Running}}</h2>
	<h2>Chasing: The total number of squirrels that are chasing: {{Chasing}}</h2>
	<h2>Climbing: The total number of squirrels that are climbing: {{Climbing}}</h2>
	<h2>Eating: The total number of squirrels that are eating: {{Eating}}</h2>
        <h2>Foraging: The total number of squirrels that are foraging: {{Foraging}}</h2>

        <a href="/sightings/">Go back to sightings.</a>
    </body>
</html>
